<div class="text-sm antialiased opacity-60">
  {% if page.date %}
  <time id="time">{{page.date}}</time>
  <span class="mx-1">&middot;</span>
  <span id="read-time">{{ page.reading_time }} دقیقه</span>
  {% endif %}
  {% set single_author = page.extra.author | default(value=config.author) %}
  {% if single_author %}
  <span class="mx-1">&middot;</span>
  <a href="{{ get_url(path=``) }}" style="text-decoration: none;">
    <span>✍️ {{ single_author }}</span>
  </a>
  {% endif %}
</div>

<script>
  const readingTimeElement = document.getElementById("read-time");
  const readingTimeNumber = parseFloat(readingTimeElement.textContent); 
  readingTimeElement.innerHTML = readingTimeNumber.toLocaleString('fa') + ' دقیقه';
</script>
