{% extends "index.html" %}<!---->
{% block main %}<!---->

<h1 class="mb-16">نسخه ۱.۱</h1>
<p>در این ورژن فقط ما پکیج ها رو آپدیت کردیم به علاوه فروم و آپدیت کردن نوبار</p>

<a href="https://github.com/Thecode764/kita/releases/tag/version-1.1">دانلود از صفحه ریلیز ها</a>
<br>
<a href="https://github.com/Thecode764/kita/archive/refs/tags/version-1.1.zip">دانلود مستقیم (زیپ)</a>

<h2>قابلیت های جدید</h2>
<ul>
<li>📄 Add forum Here</li>
<li>⬆️ Fix(deps): update dependency daisyui to v4.12.2 #38</li>
<li>🔒 Add "Forum" to navbar</li>
</ul>
{% endblock main %}
