{% extends "index.html" %}<!---->
{% block main %}<!---->

<h1 class="mb-16">نسخه ۱</h1>
<p>بله ورژن یک را مشاهده میکنید. اولین ورژن از کیتا</p>

<a href="https://github.com/Thecode764/kita/releases/tag/version-1">دانلود از صفحه ریلیز ها</a>
<br>
<a href="https://github.com/Thecode764/kita/archive/refs/tags/version-1.zip">دانلود مستقیم (زیپ)</a>

<h2>قابلیت های جدید</h2>
<ul>
<li>📄 Translate everything</li>
<li>📅 Persian date</li>
<li>1️⃣ Add persian number</li>
<li>📜 Add status page</li>
<li>📇 Add post page</li>
<li>💬 Add chat page</li>
<li>🧪 Add test page for tutorial</li>
<li>🖹 Comment using giscus with new theme</li>
<li>⬇️ Update footer</li>
<li>✉️ Update blog post about</li>
<li>⬆️ Update dependency monaco-editor to v0.49.0 <a href="https://github.com/Thecode764/pull/8">#8</a></li>
<li>⬆️ Update actions/checkout action to v4 <a href="https://github.com/Thecode764/kita/pull/9">#9</a></li>
<li>⬆️ Update dependency eslint to v9! <a href="https://github.com/Thecode764/kita/pull/11">#11</a></li>
<li>🖼️ [ImgBot] Optimize images <a href="https://github.com/Thecode764/kita/pull/14">#14</a></li>
<li>📝 Add docs <a href="https://thecode764.github.io/kita-docs">Here</a></li>
<li>🤖 Add all contributors bot</li>
<li>📝 Add official blog for persian kita <a href="https://thecode764.github.io/kita">Here</a></li>
<li>🌎 Add official website <a href="https://thecode764.github.io/kita/Kita-website">Here</a></li>
</ul>
{% endblock main %}
