{% extends "index.html" %}<!---->
{% block main %}
<h1>سوالات متداول</h1>

<h2>آیا برای دیباگ کردن پروژه حتما لازم است بلاگ ساز زولا روی سیستم ما نصب باشد؟</h2>
<p>بله میتوانید از این لینک دانلود کنید https://www.getzola.org/</p>
<h2>آیا حتما باید بلاگ ما تایید شود؟</h2>
<p>هم بله هم نه در صورت تمایل از لینک https://thecode764.github.io/Kita-website بلاگ خود را تایید کنید یک کامنت بفرستید لینک بلاگ خودتان را بگذارید توسعه دهندگان چک خواهند کرد و از همان جا به شما جواب خواهند داد</p>
<h2>داکیومنت پروژه کجاست؟</h2>
<a href="https://thecode764.github.io/kita-docs">اینجا</a>
<h2>این پروژه یک پروژه متن باز است؟</h2>
<p>بله میتوانید <a href="https://github.com/Thecode764/kita">از این لینک</a> سورس را مشاهده کنید</p>
<p class="text-center font-bold">اگر سوالی دیگر مانده میتوانید از پشتیبانی دیسکورد ما بپرسید. آیدی: ۱۱۲۵۴۲۹۱۷۹۶۸۵۵۴۸۱۱۲</p>
{% endblock main %}