{% extends "index.html" %}<!---->
{% block main %}<!---->


<h1>نصب کنید</h1>
<p>نصب کیتای فارسی ولی قبل از این بلاگ ساز زولا رو نصب کنید. برای اطلاعات بیشتر <a href="https://thecode764.github.io/kita-docs/">داکیومنت مراجعه کنید</a></p>
<pre>
    <code class="language-bash">
        git clone https://github.com/Thecode764/kita
        cd kita
        zola serve 
    </code>
 </pre>

<script src=" https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js "></script>
<link href=" https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css " rel="stylesheet">
{% endblock main %}
