{% extends "index.html" %}<!---->
{% block main %}
<h1>وضعیت</h1>
<aside class="bg-black text-white p-6 rounded-lg w-full max-w-md font-mono">
    <div class="flex justify-between items-center">
      <div class="flex space-x-2 text-red-500">
        <div class="w-3 h-3 rounded-full bg-red-500"></div>
        <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
        <div class="w-3 h-3 rounded-full bg-green-500"></div>
      </div>
      <p class="text-sm">Persian kita shell</p>
    </div>
    <div class="mt-4">
      <p class="text-green-400">$ get status</p>
      <p class="text-white">Persian kita theme status:  </p>
      <p class="text-blue-500">Appveyor status: <img src="https://ci.appveyor.com/api/projects/status/xlmrql7onkomtdry?svg=true" alt="Appveyor Status"></p>
      <p class="text-amber-500">Website status: <img src="https://github.com/Thecode764/kita/actions/workflows/static.yml/badge.svg"></p>
      <p class="text-gray-600">Zola blog status: <img src="https://github.com/Thecode764/kita/actions/workflows/publish-pages.yml/badge.svg"></p>
      <p class="text-green-400" id="status">$ </p>
      <p class="text-green-400">$ get others</p>
      <p class="text-blue-600">Commit activity: <img alt="GitHub commit activity" src="https://img.shields.io/github/commit-activity/w/Thecode764/kita"></p>
      <p class="text-lime-400">Last commit: <img src="https://img.shields.io/github/last-commit/Thecode764/kita/main?display_timestamp=author"></p>
      <p class="text-cyan-400">Contributors: <img src="https://contrib.rocks/image?repo=Thecode764/kita"></p>
      <p class="text-fuchsia-500">Created at: <img src="https://img.shields.io/github/created-at/Thecode764/kita?style=for-the-badge
"></p>
      <p class="text-yellow-400">Languages: <img alt="GitHub language count" src="https://img.shields.io/github/languages/count/Thecode764/kita?labelColor=aqua&color=gray">
      </p>
      <p class="text-teal-500">Top lang: <img src="https://img.shields.io/github/languages/top/Thecode764/kita
">      </p>
      <p class="text-purple-300">License: <img src="https://img.shields.io/github/license/Thecode764/kita
">      </p>
      <p class="text-blue-400">Blog status: <img src="https://img.shields.io/website?url=https%3A%2F%2Fthecode764.github.io%2Fkita
        "></p>
      <p class="text-yellow-500">Website status: <img src="https://img.shields.io/website?url=https%3A%2F%2Fthecode764.github.io%2FKita-website">      </p>
      <p class="text-red-500">Docs status: <img src="https://img.shields.io/website?url=https%3A%2F%2Fthecode764.github.io%2Fkita-docs
">      </p>
      <p class="text-rose-600">Repo size: <img src="https://img.shields.io/github/repo-size/Thecode764/kita
">      </p>
      <p class="text-fuchsia-400">Forks: <img src="https://img.shields.io/github/forks/Thecode764/kita"></p>
      <p class="text-yellow-400">Stars: <img src="https://img.shields.io/github/stars/Thecode764/kita"></p>
    </div>
  </aside>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
     var typed = new Typed('#status', {
      strings: [`$ Check the badges. if everything is passing ok! exit now! Wait...`],
      typeSpeed: 50,
      showCursor: false
    });
</script>
  
{% endblock main %}
